# Firstly ignoring all
*

# Then whitelist the files that should be included
!.dockerignore
!LICENSE
!pyproject.toml
!README.md
!uv.lock

# Folders
!python_app_template/
!python_app_template/**
!tests/**
!tests/

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__
