# Firstly ignoring all
*

# Then whitelist the files that should be included
!.releaserc.json
!LICENSE
!pyproject.toml
!README.md
!.dockerignore
!poetry.lock

# Folders
!src/
!src/**
!tests/**
!tests/
