# Firstly ignoring all
*

# Then whitelist the files that should be included
!.releaserc.json
!LICENSE
!Taskfile.yaml
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc.yaml
!Dockerfile
!CODEOWNERS
!pyproject.toml
!activate.sh
!.editorconfig
!README.md
!.dockerignore
!.gitignore
!.yamllint.yaml
!docker-compose.yml
!.markdownlint.yaml
!poetry.lock
!CHANGELOG.md

# Folders
!.devcontainer/
!.devcontainer/**
!.github/
!.github/**
!.taskfiles/
!.taskfiles/**
!python_app_template/
!python_app_template/**
!tests/
!tests/**
!docs/
!docs/**
!scripts/
!scripts/**
