# Firstly ignoring all
*

# Then whitelist the files that should be included
!.dockerignore
!.editorconfig
!.gitignore
!.markdownlint.yaml
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc.yaml
!.yamllint.yaml
!CHANGELOG.md
!CODEOWNERS
!Dockerfile
!LICENSE
!pyproject.toml
!README.md
!Taskfile.yaml
!uv.lock

# Folders
!.github/
!.github/**
!.taskfiles/
!.taskfiles/**
!python_app_template/
!python_app_template/**
!tests/
!tests/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__
